<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="../../CSS/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="avatar_container">
            <div class="avatar">
                <img src="../../img/img.png">
            </div>
            <div class="pill">
                <p class="pill_text">LIVE</p>
            </div>
        </div>
    </div>
    
</body>
</html>